.swiper{
  height: 100vh;
}

.swiper-slide{
  display: flex;
  justify-content: center;
  align-items: center;
}
.folio-image{
  border: 2px solid purple;
 width: fit-content;
  padding: 2rem;
}
.folio-image img{
  display: block;
  height: 200px;
  width: 300px;
}
.folio-cta{
  display: flex;
  width: 100%;
  justify-content:space-between ;
}
.button{
width: 100px;
}