.folio-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2px;
  place-items: center;
  background-color: #2c0735;
 width: 10rem;
 height: 100%;
 padding: 1rem;
 border-radius: var(--border-radius-1);
}

article{
  color: white;
  text-align: left;
  margin-left: 2.5rem;
  font-size: 1rem;
}

small{
  color: var(--color-light);
}
.folio-contents{
  box-shadow: -2px 6px 5px -3px rgba(219, 210, 219, 0.75);
-webkit-box-shadow: -2px 6px 5px -3px rgba(234, 224, 235, 0.75);
-moz-box-shadow: -2px 6px 5px -3px rgba(241, 233, 241, 0.726);
}

.folio-image {
  padding: 1rem;
  border-radius: var(--border-radius-2);
}

.folio-image img {
  
  height: 200px;
  width: 300px;
  border-radius: var(--border-radius-1);
  object-fit: cover;
  
}
.folio-image img:hover{
  transition: var(--transition);
  transform: scale(1.05);
}

.folio-cta {
  display: flex;
  justify-content: center;
  padding-top: 1rem;
  gap: 7px;
}
.folio-cta .btn{
  height: 30px;
}

@media screen and (max-width: 1024px){
  .folio-container{
    grid-template-columns: 1fr 1fr;
    width: fit-content;

  }
  .folio-image img{
    width: 270px;
    
  }
}

@media screen and (max-width: 600px){
  .folio-container{
    grid-template-columns: 1fr;
  }
}


