.folio-contents{
  height:500px ;
}

.folio-image img{
  object-fit: cover;
}
.folio-cta{
    display: flex;
  justify-content: center;
  gap: 1.2rem;
  text-align: center;
}
.folio-image{
  width: 50%;
  height: 50%;
}