footer{
    padding: 3rem 0;
    text-align: center;
    font-size: 0.9rem;
    margin-top: 3rem;
}
footer a{
    color: var(--color-light);
}
.footer-logo{
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 2rem;
    display: inline-block;
}
.permalinks{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    margin: 0 auto 3rem;
    justify-content: center;
}
.footer-socials{
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 4rem;
}
.footer-socials a{
    width: 2.5rem;
    aspect-ratio: 1/1;
    background: var(--color-primary);
    display: grid;
    place-items: center;
    border-radius: 15px;
    margin-bottom: 15px;
}
.footer-socials a:hover{
    background: var(--color-light);
    color: var(--color-primary);
    transition: var(--transition);
    transform: translateX(-0.5rem);
}
.copyright{
    margin-bottom: 3rem;
    color: var(--color-light);
}
@media screen and (max-width: 600px){
    .permalinks{
        flex-direction: column;
        gap: 1.5rem;
    }
    .footer-socials{
        margin-bottom: 2.6rem;
    }
}