.services-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem 4rem;
    text-align: center;
}

.service-light {
    background: white;
    border-radius: 12px;
    box-shadow: 3px -2px 10px -2px rgba(128, 0, 128, 0.75);
    -webkit-box-shadow: 3px -2px 10px -2px rgba(128, 0, 128, 0.75);
    -moz-box-shadow: 3px -2px 10px -2px rgba(128, 0, 128, 0.75);
    padding: 1.8rem;
    display: flex;
    align-items: flex-start;
    justify-content: center ;
    gap: 1rem;
    transition: var(--transition);
}

.service-light:hover {
    transform: scale(1.03);
}

.service-details {
    padding-left: 1rem;
    padding-right: 1rem;
    text-align: center;

}

.service-icon {
    background: var(--color-primary);
    color: var(--color-white);
    font-size: 1.4rem;
    padding: 0.4rem;
    transition: var(--transition);
    border-radius: var(--border-radius-3);
    text-align: center;
}

.service-light:hover .service-icon {
    background-color: var(--color-light);
    color: var(--color-primary);
}

h4 {
    margin-bottom: 0.6rem;
}

@media screen and (max-width: 1024px) {

    .services-container {
        gap: 1.5rem 1.5rem;
    }
}

@media screen and (max-width: 600px) {
    .services-container {
        grid-template-columns: 1fr;
        text-align: center;
        gap: 1rem;
        padding: 1rem;
    }

    .service-details {
        text-align: center;
        
    }
    
    
}