header {
  transition: var(--transition);
  margin-top: 5rem;

}

.header-container {
  display: flex;
  justify-content: space-around;
  
}



.header-img {
  width: 20rem;
  height: 20rem;
  margin-top: 2rem;
  border-radius: 9rem 9rem 2rem 2rem;
  background-color: var(--color-primary);
}

.header-img img {
  transition: all 0.5s ease;
}

.header-img img:hover {
  transform: rotate(360deg);
}

.header-contents {
  margin-left: 3rem;
  text-align: center;
}

.header-contents h3 {
  font-size: 2rem;
  text-align: center;
}

.header-contents p {
  font-size: 1.1rem;
  text-align: center;
  font-weight: 400;
  margin: 0.6rem 0 2rem;
}

.header-cta {
  display: flex;
  justify-content: center;
  gap: 1.2rem;
  text-align: center;
}

.header-socials {
  display: none;
  position: absolute;
  right: 10px;
  top: 30%;
  transform: translateY(-50%);

}

.header-socials a {
  width: 2.5rem;
  aspect-ratio: 1/1;
  background: var(--color-light);
  display: grid;
  place-items: center;
  border-radius: 15px;
  margin-bottom: 15px;
}

.header-socials a:hover {
  background: var(--color-primary);
  color: var(--color-light);
  transition: var(--transition);
  transform: translateX(-0.5rem);
}



@media screen and (max-width: 600px) {
  .header-contents h3 {
    font-size: 1.6rem;
    margin-top: 1rem;

  }

  .header-img {
    width: 18rem;
    height: 14rem;
    max-width: 70%;

  }

  .header-contents {
    width: 100%;
  }

  .header-cta {
    gap: 1rem;
  }

  .header-contents {
    margin-top: 0;
  }

  .header-socials {
    display: none;

  }


}